{{ "<!-- page title -->" | safeHTML }}
{{ if (isset .Page.Params "banner" ) }}
  <div class="bg-cover banner" style="background-position-y: {{ .Page.Params.banner.y_position }};" data-background=" {{ .Page.Params.banner.url | absURL }} " >
	<section class="section">
    <div class="container">
      <div class="row">
		<div class="col-lg-8 text-center mx-auto">
		  <h1 class="text-{{ .Page.Params.banner.text_color }} mb-3">{{ .Page.Params.title }}</h1>
		</div>
      </div>
    </div>
  </section>
  </div>
  {{ else }}
  <section class="section bg-dark">
    <div class="container">
      <div class="row">
        
      </div>
    </div>
  </section>
{{ end }}