{{ $symbols := ( dict "Split Snake" "snake-split.png" "U Snake" "snake-u.png" "Eight Snake" "snake-eight.png" "Infinity Snake" "snake-infinity.png" "Fire Left" "fire-left.b730a618.png" "Fire Right" "fire-right.80bdb1b8.png" "Spear Left" "spear-left.a4ba016f.png" "Spear Right" "spear-right.35d966ab.png" "Fish Left" "fish-left.215052b6.png" "Fish Up" "fish-up.8f1422d1.png" "Two Fish" "two-fish.c489ae23.png" "Fish Curl" "fish-curl.c0335cf7.png" "Bird Branch" "bird-branch.6f2c2f94.png" "Bird Down" "bird-down.25cfd81e.png" "Bird Stand" "bird-stand.a6648a24.png" "Bird Fly" "bird-fly.9ecd03e8.png" "Blank" "blank.png") }}
{{ $name := ""}}
{{ $display := false}}

{{ if .IsNamedParams }}
    {{ $name = .Get "title" }}
    {{ $display = .Get "displayName" }}
{{ else }}
    {{ $name = .Get 0}}
    {{ if len .Params | eq 2 }}
        {{ $display = .Get 1 }}
    {{ end }}
{{ end }}
        

{{ $filename := index $symbols $name}}
{{ $url := print "/images/symbols/" $filename }}

{{ if $display }}
    <div class="col-3" style="max-width: 140px; padding-right: 7px; padding-left: 7px; margin-bottom: 1rem">
        <div class="card">
            <img src="{{$url}}" alt="{{ $name }}" title="{{ $name }}" class="card-img-top bg-dark-gray">
                <div class="card-body">
                    <h5 class="card-title">{{ $name }}</h5>
                </div>
        </div>
    </div>
{{ else }}
    <img src="{{$url}}" alt="{{ $name }}" title="{{ $name }}" class="bg-dark-gray">
{{ end }}